.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  position: relative;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 18px;
}

.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 32px;
}

.nav a {
  font-weight: 500;
  text-decoration: none;
  color: #111;
  transition: 0.2s ease;
}

.nav a:hover {
  color: #1e40af;
}

.icons {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 18px;
  /* Đảm bảo không bị dính vào nhau */
}

.loginButton {
  margin-left: 12px;
  font-weight: 500;
  color: #111;
  text-decoration: none;
  transition: color 0.3s;
}

.loginButton:hover {
  color: #0070f3;
}

.adminBtn {
  padding: 6px 14px;
  background: #3234d2;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  margin-left: 6px;
}
.adminBtn:hover {
  background: #212288;
}

.homeBtn {
  padding: 6px 12px;
  background: #e4e6ed;
  color: #333;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 6px;
}
.homeBtn:hover {
  background: #c5c9d6;
}

/* Responsive: Tăng khoảng cách trên mobile */
@media (max-width: 900px) {
  .nav {
    gap: 18px;
  }
  .icons {
    gap: 10px;
    font-size: 16px;
  }
}
